<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>查询学生</title>
		<link rel="stylesheet" href="../../static/style/student.css" />
<!--		这里注意一手层级是按照网页来的而不是文件夹-->
	</head>
	<body>
        <div class="form-item", id="form-item">
            <div id="top1">
                <li class="tp">
                    <a href="../index">Administrator</a>
                </li>
                <li class="tp">
                    <a href="../index1">Professor</a>
                </li>
                <li class="tp">
                    <a href="../index2" id="cur">Bachelor</a>
                </li>
                <li id="adname">{{adname}}</li>
                <li id="out">
                    <a href="../">退出登录</a>
                </li>
            </div>
            <div id="part2">
            		<p>学生基本信息</p>
            		<br />
           		<div id="L">
           			<img src="../static/image/stu.PNG" />
           		</div>
           		<div id="R">
           			<p>学号：{{a}}</p>
	                <p>姓名：{{b}}</p>
	                <p>性别：{{c}}</p>
	                <p>专业：{{d}}</p>
	                <p>班号：{{e}}</p>
	                <p>课程成绩：{{f}}</p>
	           	</div>
            </div>
        </div>
	</body>
</html>
