<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>修改学生信息</title>
		<link rel="stylesheet" href="../../static/style/createstu.css" />
<!--		这里注意一手层级是按照网页来的而不是文件夹-->
	</head>
	<script>
		function Success() {
			alert("修改学生信息成功");
			return true;
		}
	</script>
	<body>
		<form action="../admin" method="post" onsubmit="return Success();">
			<div class="form-item", id="form-item">
				<div id="top1">
					<li class="tp">
						<a href="../../index" id="cur">Administrator</a>
					</li>
					<li class="tp">
						<a href="../../index1">Professor</a>
					</li>
					<li class="tp">
						<a href="../../index2">Bachelor</a>
					</li>
					<li id="adname">{{adname}}</li>
					<li id="out">
						<a href="../../">退出登录</a>
					</li>
				</div>
				<div id="part2">
					<p>学号：</p>
					<input type="text" name="a" placeholder="请输入学生学号" value={{a}} />
					<p>姓名：</p>
					<input type="text" name="b" placeholder="请输入学生姓名" value={{b}} />
					<p>性别：</p>
					<input type="text" name="c" placeholder="请输入学生性别" value={{c}} />
					<p>专业：</p>
					<input type="text" name="d" placeholder="请输入学生所在专业" value={{d}} />
					<p>班级：</p>
					<input type="text" name="e" placeholder="请输入学生班号" value={{e}} />
					<p>密码：</p>
					<input type="text" name="f" placeholder="请输入账号密码" value="{{f}} "/>
					<br /><br />
					<input type="submit" value="保存" />
					<input type="hidden" name="hid" value="createstu" />
				</div>
			</div>
		</form>
	</body>
</html>
