* { margin: 0; padding: 0; }
body,html{
    height: 100%;
}
.form-item{
    height: 100%;
    width: 100%;
    background:url(../image/yourname.jpg) no-repeat fixed;
    background-size: cover;
    position: fixed;
    opacity: .75;
}
a{
    text-decoration: none;
    color: black;
}
a[id='cur']{
    color: deepskyblue;
}
.form-item li{
    float: left;
    list-style: none;
    font: 25px fantasy;
}
.form-item #top1{
    position: fixed;
    height: 40px;
    width: 100%;
    background-color:rgba(255,255,255,0.4);
}
.form-item #top1 li[class="tp"]{
    position: relative;
    left: 35%;
    text-align: center;
    border-right: 1px solid black;
    border-radius: 30px;
    margin: 0px 20px;
}
.form-item #top1 li a:hover{
    color: greenyellow;
}
.form-item #top1 li[id="adname"]{
    position: fixed;
    top: 2px;
    right: 7%;
}
.form-item #top1 li[id="out"]{
    position: fixed;
    right: 1%;
    top: 0.5%;
    font-size:20px;
}

.form-item select{
    background-color:rgba(255,255, 255, 0.6);
    height: 40px;
    width: 300px;
    padding-left: 15px;
    position: fixed;
    left: 40%;
    border-radius: 50px;
    outline: none;
}
.form-item select[id="one"]{
    top: 30%;
}
.form-item select[id="two"]{
    top: 40%;
}
.form-item li[id="id"]{
    position: fixed;
    left: 39%;
    top: 55%;
    font-size: bolder 20px;
}
.form-item input[id="final"]{
    position: fixed;
    top: 55%;
    left: 42%;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    outline: none;
}
.form-item input[id="sub"]{
    position: fixed;
    top: 54%;
    left: 60%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    font-family: fantasy;
    color: white;
    background: linear-gradient(deepskyblue, dodgerblue);
    border: dotted;
    box-shadow: 5px 5px 20px 20px rgba(0,255,255,0.5);
}
